:root {
    --scan-positioning-size: 70%;
}

.maxWidth{
    width: 100%;
    height: auto;
}

.containerSection {
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: aquamarine;
}

.front {
    position: absolute;
    top: 0%;
    left: 0%;
} 

.scannerIcon {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10vw;
    width: 10vw;
    animation-name: scanning;
    animation-duration: 8s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transform: translate(-50%, -50%);
}

.topLeftTop,
.topRightTop,
.topRightRight,
.bottomRightRight,
.bottomRightBottom,
.bottomLeftBottom,
.leftBottomLeft,
.leftTopLeft {
    position: absolute;
    border: 2px solid #5f99fc;
}

.topLeftTop {
    right: var(--scan-positioning-size);
    left: 0%;
}

.topRightTop {
    left: var(--scan-positioning-size);
    right: 0%;
}

.topRightRight {
    top: 0%;
    bottom: var(--scan-positioning-size);
    right: 0%;
}

.bottomRightRight {
    top: var(--scan-positioning-size);
    bottom: 0%;
    right: 0%;
}

.bottomRightBottom {
    left: var(--scan-positioning-size);
    right: 0%;
    bottom: 0%;
}

.bottomLeftBottom {
    right: var(--scan-positioning-size);
    left: 0%;
    bottom: 0%;
}

.leftBottomLeft {
    top: var(--scan-positioning-size);
    bottom: 0%;
}

.leftTopLeft {
    top: 0%;
    bottom: var(--scan-positioning-size);
}

@keyframes scanning {

    0%{
        top: 10%;
        left: 5%;
    }
    
    25% {
        top: 10%;
        left: 95%;
    }

    50% {
        top: 90%;
        left: 95%;
    }

    75% {
        top: 90%;
        left: 5%;
    }

    100% {
        top: 10%;
        left: 5%;
    }
}